body{
    background-image: url(img/bakery.jpg);
    background-size: cover;
    height: 1000px;
    
}

.container{
    margin: auto;
    max-width: 1000px; 
    

}

h1, h2, button, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h1, h2, button{
    text-align: center;
}

h1{
    font-size: 48px;
    
}

h2{
    font-size: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    
}


button{
    margin: 20px;
    padding: 10px 40px;
    font-size: 48px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightpink;
    border-color: lightgray;
}

p{
    width: 1000px;
    background-color: lightpink;
    padding: 10px 30px;
    border-radius: 10px;
}
